{{.Dim}}────────────────────────────────────────────────────────────────────────────────{{.Reset}}
{{.Heading}}

A model's fully-qualified ID is in the form of <providerID>/<modelID>.
{{range .Footer.KeysSentence}}{{.}}
{{end}}

{{template "model-search-examples" .}}